.quoteText {
  text-align: center;
  width: 100%;
  height: auto;
  clear: both;
  font-weight: 500;
  font-size: 1.75em;
}

.quoteAuthor {
  width: 100%;
  height: auto;
  padding-top: 20px;
  font-size: 1em;
  text-align: right;
}

.buttonsWrapper {
  display: flex;
  justify-content: space-between;
}

.socialLinksWrapper {
  display: flex;
}
