.button {
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: rgb(72, 8, 60);
  outline: none;
  margin-top: 30px;
  opacity: 1;
  cursor: pointer;
  float: left;
  padding: 0px;
  padding-top: 8px;
  text-align: center;
  font-size: 1.2em;
  margin-right: 5px;
  height: 30px;
  width: 40px;
}

.button:hover {
  opacity: 0.9;
}

.buttons {
  width: 450px;
  margin: auto;
  display: block;
}
